#clock{
    background-color: yellow;
    border-radius: 20px;
    height: auto;
    width:200px;
    margin: auto;
    font-size: larger;
    border: 4px solid black;
    padding: 10px 10px;
    text-align: center;
    color: #212121;
}
h2{
    margin: auto;
    text-align: center;
}
body{
    background-color: #212121;
    color: #fff;
}